


<h1>{{stark.house}}</h1>
<h3>Parents: <small>{{stark.parents}}</small></h3>
<h3>Children: <small>{{stark.child.first_child}}, {{stark.child.second_child}}, {{stark.child.third_child}}, {{stark.child.fourth_child}}, {{stark.child.fifth_child}}</small></h3>

<h1>{{lannister.house}}</h1>
<h3>Parents: <small>{{lannister.parents.first_parents}} and {{lannister.parents.second_parents}}</small></h3>
<h3>Children: <small>{{lannister.child.first_child}}, {{lannister.child.second_child}}, {{lannister.child.third_child}}</small> </h3>

<h1>{{targaryen.house}}</h1>
<h3>Parents: <small>{{targaryen.parents}}</small></h3>
<h3>Children: <small>{{targaryen.child.first_child}}, {{targaryen.child.second_child}}, {{targaryen.child.third_child}}</small></h3>
